<!DOCTYPE html>
<html lang="zh-hans-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>修改個人資訊</title>
    <style>
    
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 2px;
            text-align: left;
        }
        h1 {
            text-align: left;
        }
        .actions {
            text-align: left;
            margin-top: 20px;
        }
        .actions a {
            margin: 0 10px;
            text-decoration: none;
            color: blue;
        }
    </style>
</head>
<body>

<h1>修改個人資訊</h1>

<table>
    <tr>
        <th>姓名</th>
        <td><input value="陳聖馨"></input></td>
    </tr>
    <tr>
        <th>生日</th>
        <td><input value="1968-02-01"></input></td>
    </tr>
    <tr>
        <th>血型</th>
        <td><input value="AB"></input></td>
    </tr>
    <tr>
        <th>手機</th>
        <td><input value="0968597976"></input></td>
    </tr>
    <tr>
        <th>Email</th>
        <td><input value="davis1329@icloud.com"></input></td>
    </tr>
    <tr>
        <th>身份證號</th>
        <td><input value="I251782476"></input></td>
    </tr>
    <tr>
        <th>密碼</th>
        <td><input value="Ev95n5B8"></input></td>
    </tr>
</table>

<div class="actions">
    <button onclick="location.href='/'">修改</button>
    <a href="#">登出</a>
</div>

</body>
</html>